<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Hello!</title>

  <link rel="stylesheet" type="text/css" href="normalize.css"/>
  <link rel="stylesheet" type="text/css" href="buttons.css"/>
  <link rel="stylesheet" type="text/css" href="main.css"/>

  </head>
  <body>

    <section class='container'>
      <div>
        <h1><%=val[1]%></h1>
        <h3><%=val[2]%></h3>
      </div>
      <section class="options">
        <% for(var i=0; i<4; i++) {%>
           <button class="button button--ujarak button--border-thin button--text-thick"
              id="<%=val[3][i].replace(/ /g,"-")%>"
              onclick=choose('<%=val[3][i].replace(/ /g,"-")%>')>
                  <%= val[3][i] %>
           </button>
        <% } %>
      </section>

      <section id="correct" style="display:none">
        <h2>Correct!</h2>
        <p><a href="<%=val[4]%>">Check it out.</a></p>
      </section>

      <section id="incorrect" style="display:none">
        <h2>Nope.</h2>
      </section>

      <br><br><br><br>

      <section class="options">
        <button class="button button--ujarak button--border-thin button--text-thick"
          onclick=refreshPage()>
          Play Again
        </button>
      </section>

    </section>

  </body>

  <script>

  function choose(choice) {
    if(choice.replace(/-/g," ") == "<%=val[0]%>"){
      console.log("success!");
      document.getElementById("correct").style.display = "inherit";
      document.getElementById("incorrect").style.display = "none";
    } else {
      console.log("failure");
      document.getElementById("incorrect").style.display = "inherit";
      document.getElementById("correct").style.display = "none";
    }
  }

  function refreshPage() {
    location.reload(true);
  }

  </script>

</html>
