<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Hello!</title>

  <link rel="stylesheet" type="text/css" href="normalize.css"/>
  <link rel="stylesheet" type="text/css" href="buttons.css"/>
  <link rel="stylesheet" type="text/css" href="main.css"/>

  </head>
  <body>

    <section class='container'>
      <div>
        <h1><%=val[1]%></h1>
        <h3><%=val[2]%></h3>
        <h4><%=val[0]%></h4>
      </div>
      <section class="options">
        <% for(var i=0; i<4; i++) {%>
           <button class="button button--ujarak button--border-thin button--text-thick" id="<%=val[3][i]%>"><%= val[3][i] %></button>
        <% } %>
      </section>
    </section>
  </body>

</html>
